<h1>Available cocktails</h1>


<div class="card-container">
<% @cocktails.each do |c| %>
  <div class="card" style="width: 18rem;">
    <%= cl_image_tag c.photo.key, class: "card-img-top" %>
    <div class="card-body">
      <h5 class="card-title"><%= c.name  %></h5>
      <%= link_to "More info", cocktail_path(c), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
</div>
<br>
<br>
