.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}

.card {
  margin: 10px;
}

.show-container {
  display: flex;
  justify-content: center;
  .card {
    align-items: center;
    padding: 20px;
  }
}

